/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f6b4d8, #9b2564);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #fef7f7;
    font-size: 3rem;
    padding: 20px 40px;
}


/*containers*/
/* Containers de Login e Cadastro */
.containerLogin,
.containerCadastro {
    padding: 0 50px;
    border-radius: 20px;
    width: 100%;
    max-width: 700px; 
    margin: 0 auto;
}
/*PÁGINA LOGIN*/
form {
    display: flex;
    flex-direction: column;
}

/* legend estilizado */
fieldset {
    border: none;
}

legend {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

/* lista do formulário */
.listaFormulario {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listaFormulario label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

.listaFormulario input {
    width: 100%;
    padding: 10px;
    border-radius: 6px  ;
    border: none;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

/* recuperar senha */
.navegacaoLogin {
    margin-top: 15px;
    text-align: center;
}

.navegacaoLogin a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color ;
}

.navegacaoLogin a:hover {
    text-decoration: underline;
    color: #9a1555;
}

/*PÁGINA DE CADASTRO*/
/* formulário */
form#formCadastro {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
}

legend {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

/* lista do formulário */
.listaCadastro {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listaCadastro label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

.listaCadastro input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

/*Botões de entrar e cadastrar*/
.botaoEntrar,
.botaoCadastrar {
    display: block;          
    width: 50%;               
    margin: 20px auto 0;    
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #9b2564;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botaoEntrar:hover,
.botaoCadastrar:hover {
    background: rgb(210, 29, 116);
}

/*PÁGINA DE LISTAR OS FILMES*/
/* container da listagem de filmes */
form {
    background: rgba(255, 255, 255, 0.2);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
}

fieldset {
    border: none;
}

legend {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}


